/* VARIABLES */
:root {
    --background-color: #c14040;
    --card-bg: #982c2c;
    --white: #efe3e3;
}

/* GENERAL */
.container {
    background-color: var(--background-color);
    min-height: 100vh;
    min-width: 100vh;
    color: var(--white);
    padding: 2.5rem;
    font-family: "Bree Serif", sans-serif;
}

/* HEADER */
.header {
    background-color: var(--white);
    color: var(--background-color);

    padding: 1.5rem 2rem;
    border-radius: 2rem;
}
.header__title {
    font-size: 3rem;
}

/* MAIN */
.main {
    padding: 1rem 0;
}
/* FORM */
.form {
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-text {
    position: relative;
}
input[type="text"]{
    border-style: none;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 1px 5px black;
}
input[type="text"]:focus{
    outline: 2px solid black;
}

.bi-search {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

/* LIST */
.pokemon__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.pokemon__card {
    background-color: var(--card-bg);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: transform 300ms;
}

.pokemon__card:hover {
    transform: scale(1.05);
}

.card__img {
    width:80%;
}

.card__title {
    font-size: 1.2rem;
}

/* GENERATIONS BUTTONS */
.generation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.generation__btn {
    cursor: pointer;
    background-color: var(--white);
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px black;
    color: black;
    font-family: "Bree serif", sans-serif;
    font-size: 1.25rem;
    transition: 150ms;
}

.generation__btn:hover {
    background-color: var(--card-bg);
    color: var(--white);
    transform: scale(1.05);
}

.btn--active {
    background-color: var(--card-bg);
    color: var(--white);
    transform: scale(1.05);
}